<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="{{site.data.info.assets}}toc.html">Table of Contents</a></li>
  <li><a href="{{site.data.info.assets}}index.html">IG Home</a></li>
  <li><a href="{{site.data.info.assets}}use_case.html">Use Case</a></li>
  <li><a href="{{site.data.info.assets}}underlying_technologies.html">Underlying Technologies</a></li>
  <li><a href="{{site.data.info.assets}}specification.html">Specification</a></li>
  <li><a href="{{site.data.info.assets}}resources.html">Resources</a></li>
  <li><a href="http://hl7.org/fhir/us/davinci-dtr/history.html">History</a></li>
</ul>      
