id: hl7.fhir.us.davinci-dtr
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: trial-use
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 2
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg
    valueCode: cds
canonical: http://hl7.org/fhir/us/davinci-dtr
name: DocumentationTemplatesRules
title: "Da Vinci - Documentation Templates and Rules"
description: "The Documentation Templates and Rules (DTR) Implementation Guide (IG) specifies how payer rules can be executed in a provider context to ensure that documentation requirements are met. The IG is a companion to the Coverage Requirements Discovery (CRD) IG, which uses CDS Hooks to query payers to determine if there are documentation requirements for a proposed medication, procedure or other service."
status: active
license: CC0-1.0
version: 2.2.0-ballot
fhirVersion: 4.0.1
copyrightYear: 2022+
releaseLabel: STU 2.2 - Ballot
publisher:
  name: HL7 International / Clinical Decision Support
  url: http://www.hl7.org/Special/committees/dss
jurisdiction: urn:iso:std:iso:3166#US

parameters:
  excludettl: true
  show-inherited-invariants: false
  path-expansion-params: 'Parameters-expansion-parameters-us-dtr.json'  #path is relative to [base]/fsh-generated/resources
  apply-publisher: true
  apply-contact: true
  globals-in-artifacts: true
  version-comparison: 
   - 2.1.0
  shownav: true
  pin-canonicals: pin-multiples

dependencies:
  hl7.fhir.us.core:
    id: uscore7
    version: 7.0.0
    uri: http://hl7.org/fhir/us/core/ImplementationGuide/hl7.fhir.us.core
    reason: |
      Defines USCDI v4 EHR expectations on a range of resources that will be passed.  
  hl7.fhir.us.core.v610:
    id: uscore6
    version: 6.1.0
    uri: http://hl7.org/fhir/us/core/v610/ImplementationGuide/hl7.fhir.us.core.v610
    reason: |
      Defines USCDI v3 EHR expectations on a range of resources that will be passed.
  hl7.fhir.us.core.v311:
    id: uscore3
    version: 3.1.1
    uri: http://hl7.org/fhir/us/core/v311/ImplementationGuide/hl7.fhir.us.core.v311
    reason: |
      Defines USCDI v1 EHR expectations on a range of resources that will be passed. 
  hl7.fhir.uv.sdc:
    id: sdc
    version: current
    reason: |
      Defines expecations for Questionnaires used to gather information
  hl7.fhir.us.davinci-hrex:
    id: hrex
    version: 1.1.0
    reason: |
      Defines common conformance rules across all Da Vinci IGs, as well as additional constraints and profiles beyond U.S. Core
  hl7.fhir.extensions.r5:
    id: r5ext
    version: 4.0.1
    reason: |
      Makes available certain R5 elements for use as part of this R4 IG
  hl7.fhir.us.davinci-crd:
    id: crd
    version: 2.1.0
    reason: |
      Makes available CRD profiles, valuesets, and codes for use as part of this IG
  hl7.fhir.us.davinci-pas:
    id: pas
    version: 2.1.0

pages:
  index.md:
    title: Documentation Templates and Rules Implementation Guide Home Page
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  usecases.md:
    title: Use Cases
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  burden.md:
    title: Burden Reduction
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  credits.md:
    title: Project and Participants
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  changehistory.md:
    title: Change History
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  background.md:
    title: Reading this IG
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  epa.md:
    title: Electronic Prior Authorization (ePA) Coordinators
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  operational.md:
    title: Operational Considerations
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  confexpectations.md:
    title: Conformance Expectations
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: trial-use
  specification.md:
    title: Formal Specification
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: trial-use
  security.md:
    title: Privacy, Security, and Safety
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: trial-use
  metrics.md:
    title: DTR Metrics
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  allartifacts.md:
    title: FHIR Artifacts
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
    artifacts.html:
      title: Artifact List
      extension:
        - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
          valueCode: trial-use
  downloads.md:
    title: Downloads
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
  issues.md:
    title: Open Issues
    extension:
      - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
        valueCode: informative
 
menu:

  IG Home: index.html

  Background:
    Reading this IG: background.html
    Use Cases: usecases.html
    Project and Participants: credits.html
    Burden Reduction: burden.html
    ePA Coordinators: epa.html
    Operational Considerations: operational.html

  Specification:
    Conformance Expectations: confexpectations.html
    Formal Specification: specification.html
    Privacy, Safety, and Security: security.html
    DTR Metrics: metrics.html
 
  FHIR Artifacts:
    Artifacts Overview: allartifacts.html
    DTR-specific Artifacts: artifacts.html

  Base Specs:
    FHIR R4 Spec: new-tab {{site.data.fhir.path}}
    HRex 1.1.0: new-tab {{site.data.fhir.ver.hrex}}
    Structured Data Capture (SDC): new-tab http://hl7.org/fhir/uv/sdc/STU3/
    Clinical Quality Language (CQL): new-tab http://cql.hl7.org/N1/
    SMART on FHIR: new-tab http://hl7.org/fhir/smart-app-launch/index.html
    US Core 3.1.1: new-tab http://hl7.org/fhir/us/core/STU3.1.1/index.html
    US Core 6.1.0: new-tab https://hl7.org/fhir/us/core/STU6.1/index.html
    US Core 7.0.0: new-tab https://hl7.org/fhir/us/core/STU7/index.html

  Support:
    Discussion Forum: new-tab https://chat.fhir.org/#narrow/stream/197320-Da-Vinci-DTR
    Project Page: new-tab https://confluence.hl7.org/pages/viewpage.action?pageId=91980079
    Implementer Support: new-tab https://confluence.hl7.org/display/DVP/DTR+Implementer+Support
    Specification Dashboard: new-tab https://jira.hl7.org/secure/Dashboard.jspa?selectPageId=17318
    Propose a Change: new-tab https://jira.hl7.org/secure/CreateIssueDetails!init.jspa?pid=10405&amp;issuetype=10600&amp;customfield_11302=FHIR-us-davinci-dtr
    Reference Implementations: https://confluence.hl7.org/pages/viewpage.action?pageId=184917494
    Downloads: downloads.html

  Change Log: changehistory.html
